<%- include('../partials/header') %>

<% const imageThanks='./images/thankyou/thankYou.webp' %>

<div class="thankyou-container">
    <img src="<%=imageThanks %>" alt="mail-img" class="thankyou-image">
    <h1>Thank You!</h1>
    <p>Your message just showed up in our inbox <%= name %></p>
    <p>We appreciate you taking the time to reach out to us.</p>
    <p>Our team will review your inquiry and get back to you as soon as possible on <%= email %>. Please allow up to 24–48 hours for a response.</p>
    <p>We look forward to assisting you!</p>
    <p>In the meantime, feel free to explore our community portal some more.</p>

    <button class="toggle-btn-send"><a href="/">Go to Home</a></button>
</div>

<%- include('../partials/footer') %>
